.projectSection {
  margin: 1rem 0 0rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectSection h2 {
  font-size: 1rem;
  margin: 1rem 0;
  color: #f5af31;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 6.5rem);
  grid-template-rows: repeat(2, 10rem);
  gap: 6rem 2rem;
  /* margin-bottom: 2.5rem; */
  margin: 0 0 4.5rem 0;
  /* height: auto; */
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  height: 16rem;
  margin-bottom: 2rem;
  margin-top: 0rem;
}

.projectSection h3 {
  color: white;
  font-size: 0.6rem;
  background-color: rgba(245, 175, 49, 0.9);
  margin-top: 2.5rem;
  border-radius: 0.25rem;
}

.projectSection p {
  margin: 3.8rem 0 0.5rem 0;
  font-size: 0.5rem;
  width: 6.5rem;
  min-height: 6rem;
  text-align: left;
}

.HolidayApp,
.content,
.pokemon,
.apiCountries,
.jazz, .randomTrip, .memo {
  width: 6.5rem;
  height: 6.5rem;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 2px #f5af31;
}

.HolidayApp {
  background: linear-gradient(to bottom right, #75aadb 50%, white 50%);
}

.content {
  background-image: url(../../Images/sentado.png);
  background-size: 100%;
}

.pokemon {
  background-image: url(../../Images/pokeLogo.png);
  background-size: 101%;
}

.apiCountries {
  background-image: url(../../Images/logoConuntry.png);
  background-size: 109%;
  background-position-x: -0.3rem;
}

.jazz {
  background-image: url(../../Images/gt.png);
  background-size: 100%;
}

.randomTrip {
  background-image: url(../../Images/logoRandom.png);
  background-size: 100%;
  background-position-x: -0.1rem;
  background-position-y: 0.2rem;
}

.memo {
  background-image: url(../../Images/memotest.png);
  background-size: 100%;
  margin-top: -1.5rem;
}

.linksDiv {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end;
  margin-top: auto;
}

.randomTrip .linksDiv, .HolidayApp .linksDiv, .apiCountries .linksDiv, .memo {
  margin-top: -2rem;
}

.memo .linksDiv {
  margin-top: -4rem;
}

.linksDiv a {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  transition: 0.3s ease all;
}

.linksDiv a:hover {
  cursor: pointer;
  color: #f5af31;
}

.projectCard:nth-child(7){
  height: auto;
  margin-bottom: 0;
}

.projectCard:nth-child(7) p{
  min-height: 5rem;
}

/*Entre 1200 y 900*/
@media screen and (max-width: 1200px) {
  .projectSection {
    margin: 1rem 0 1.5rem 0;
    width: 100%;
  }

  .projectSection h2 {
    font-size: 1rem;
    margin: 1rem 0;
  }

  .grid {
    grid-template-columns: repeat(3, 5.5rem);
    grid-template-rows: repeat(2, 10rem);
    gap: 5rem 1.5rem;
    margin-bottom: 3rem;
    width: 90%;
  }


  .projectSection p {
    margin: 3rem 0 1rem 0;
    font-size: 0.45rem;
    width: 5.5rem;
    min-height: 6rem;
  }

  .HolidayApp,
  .content,
  .pokemon,
  .apiCountries,
  .jazz, .randomTrip, .memo {
    width: 5.5rem;
    height: 5.5rem;
  }
}

/*Entre 900 y 750*/
@media screen and (max-width: 900px) {
  .projectSection {
    width: 100%;
    margin: 1rem 0rem 0rem 0rem;
    display: flex;
  }

  .grid {
    gap: 0;
  }

  .projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: auto;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  .projectCard:nth-child(1){
    margin-top: 0;
  }

  /* .projectCard:nth-child(4){
    margin-bottom: 0.7rem;
  } */

  .projectSection h2 {
    font-size: 1rem;
    margin: 1rem;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectSection h3 {
    color: white;
    font-size: 0.6rem;
    background-color: rgba(245, 175, 49, 0.9);
    margin-top: 2.5rem;
    border-radius: 0.25rem;
  }

  .projectSection p {
    height: 4rem;
    width: 14rem;
    color: white;
    font-size: 0.45rem;
    margin: 3rem -4rem 1rem -4rem;
    padding: 0 0.2rem;
    text-align: justify;
    min-height: auto;
    max-height: auto;
  }

  .projectSection a {
    font-weight: bold;
    color: white;
  }

  .HolidayApp,
  .content,
  .pokemon,
  .apiCountries,
  .jazz, .randomTrip, .memo {
    width: 6rem;
    height: 6rem;
  }
  
  .linksDiv {
    margin: -2.5rem auto 2rem auto;
  }
  
  .pokemon .linksDiv {
    margin-top: -2rem;
  } 

  .apiCountries .linksDiv {
    margin-top: -3rem;
  }

  .memo .linksDiv {
    margin-top: -3.5rem;
  }
  
  .grid {
    margin-bottom: 2rem;
  }
}

/*Entre 750 y 550*/
@media screen and (max-width: 750px) {
  .projectSection {
    margin: 0.4rem 0rem 0 0rem;
  }

  .grid{
    gap: 0;
  }

  .projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 13rem;
    height: 10rem;
    margin: 0.4rem 0;
  }

  .projectCard:nth-child(4){
    margin-top: 0.9rem;
    margin-bottom: 2.5rem;
  }

  .projectCard:nth-child(5){
    margin-top: -1.2rem;
    margin-bottom: 1rem;
  }

  .projectSection h2 {
    font-size: 0.8rem;
    margin: 0rem 0 0.5rem 0;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectSection h3 {
    color: white;
    font-size: 0.6rem;
    background-color: rgba(245, 175, 49, 0.9);
    margin-top: 2.5rem;
    border-radius: 0.25rem;
  }

  .projectSection p {
    width: 12rem;
    margin: 3rem -3rem 0rem -3rem;
    padding: 0 0.2rem;
    text-align: justify;
    min-height: auto;
  }

  .linksDiv {
    margin: -1.5rem auto 0rem auto;
  }

  .pokemon .linksDiv {
    margin-top: -1rem;
  } 

  .apiCountries .linksDiv {
    margin-top: -2rem;
  }

  .memo .linksDiv {
    margin-top: -2.5rem;
  }

  .grid {
    margin-bottom: 1.5rem;
  }
}

/*Menos de 550*/
@media screen and (max-width: 550px) {
  .projectCard {
    width: 8rem;
    height: 10rem;
    margin: 1rem 0;
  }
  
  .HolidayApp,
  .content,
  .pokemon,
  .apiCountries,
  .jazz, .randomTrip, .memo{
    align-items: center;
    justify-content: center;
    place-items: center;

  }

  .projectSection p {
    font-size: 0.4rem;
    width: 7rem;
    min-height: auto;
    margin: 3rem 0 1rem -0.5rem;
    padding: 0 0.2rem;
    text-align: justify;
  }

  .projectCard:nth-child(4){
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
  }

  .projectCard:nth-child(5){
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  .pokemon .linksDiv {
    margin-top: -1rem;
  } 

  .apiCountries .linksDiv {
    margin-top: -3rem;
  }

  .memo .linksDiv {
    margin-top: -3rem;
  }

  .jazz .linksDiv {
    margin-top: -1.8rem;
  }
}