.myForm {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  width: 100%;
  align-items: center;
}

.myForm h2, .findMe_section h2 {
  font-size: 1rem;
  color: #f5af31;
  margin: 0rem auto 0.5rem auto;
}

.form_data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}

input {
  border: 1px solid #f5af31;
    border-radius: 0.0125rem;
    color: white;
    background-color: transparent;
  text-align: left;
  margin: 0rem 0 0.5rem 0;
  width: 7.5rem;
  height: 0.8rem;
  font-size: 0.5rem;
  padding-left: 0.1rem;
  font-size: 0.5rem;
}

input::placeholder {
  color: rgb(232, 226, 226);
  font-size: 0.5rem;
  padding-left: 0.1rem;
}

.form_data label {
  display: block;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #1f1f1f;
}

textarea {
  border: 1px solid #f5af31;
    border-radius: 0.0125rem;
    color: white;
    background-color: transparent;
  display: block;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-left: 0.1rem;
  text-align: left;
  font-size: 0.5rem;
  height: 3rem;
  width: 7.5rem;
}

textarea::placeholder {
  color: rgb(232, 226, 226);
  font-size: 0.5rem;
  padding-left: 0.1rem;
}

button {
  border: 1px solid #f5af31;
    border-radius: 0.0125rem;
    color: white;
    background-color: transparent;
    width: 5.5rem;
    height: 1.2rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem auto;
    padding: 0.1rem 0.2rem;
  transition: 0.2s all;
}

button:hover {
  border: 1px solid #fff;
  cursor: pointer;
  box-shadow: 1px 1px 3px white;
  scale: 1.02;
}

.contact_btn_notSubmit{
    background-color:rgba(245, 175, 49, 0.4);
    width: 7rem;
    color: grey;
    font-size: 0.5rem;
    font-weight: 500;
}


.findMe_section {
  margin: 0.5rem auto 0rem auto;
}

.findMe_div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.findMe_div svg {
  height: 1.2rem;
  width: auto;
  color: white;
}

#linkedin_icon,
#github_icon {
  fill: white;
}

.form_data .error {
  color: #e92b2d;
  font-weight: 400;
  font-size: 0.5rem;
  position: relative;
  top: 1.5rem;
  left: -5rem;
  z-index: 2;
}

.form_data .success {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 20px;
  color: #fff;
}

.error_message {
  color: red;
  font-size: 0.5rem;
  z-index: 2;
  margin: -0.2rem auto 0.3rem auto;
}

.thanks_page{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thanksContact_text {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.back_btn_thanks{
    width: 4rem;
    background-color: #f5af31;
    border: #fff 1px solid;
    border-radius: 0.0125rem;
    color: white;
    font-size: 0.5rem;
    font-weight: 600;
    padding: 0.2rem;
}

.back_btn_thanks:hover{
    color: black;
    cursor: pointer;
    scale: 1.02;
}

.input_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 750px) {
    .myForm{
        margin-top: 0.5rem;
    }

    .myForm h2, .findMe_section h2 {
        font-size: 0.8rem;
    }

    #name, #email{
        margin-top: -0.3rem;
    }

    .thanksContact_text {
      font-size: 1rem;
    }
}

@media screen and (max-width: 550px) {
    #name, #email, #text{
        width: 6.5rem;
    }

    .contact_btn_notSubmit{
        width: 5.5rem;
        font-size: 0.5rem;
    }

    .findMe_section{
        margin-top: 0;
    }

    .myForm h2, .findMe_section h2 {
        font-size: 0.65rem;
    }
    
}
