/*MENOS DE 640*/
@media (max-width: 640px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    color: black;
    background-color: black;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
  }

  a {
    text-decoration: none;
  }

  p {
    color: white;
  }

  .App {
    margin: -1rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 1;
  }

}

/*DE 640 A 768*/
@media (min-width: 640px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    color: black;
    background-color: black;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
  }

  a {
    text-decoration: none;
  }

  p {
    color: white;
  }

  .App {
    margin: -1rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 1;
  }
}

/*DE 768 A 840*/
@media (min-width: 768px) {
  .App {
    margin: -1rem 0rem 2rem 0rem;
  }
}

/*DE 840 A 1024*/
@media (min-width: 840px) {
  .App {
    margin: -1rem 0rem 2rem 0rem;
  }
}

/*DE 1024 A 1200*/
@media (min-width: 1024px) {
  .App {
    margin: -1rem 0rem 2rem 0rem;
  }
}

/********/
/*MAS DE 1200*/
@media (min-width: 1200px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .App {
    margin: -1rem 0 2rem 0;
  }
}
